.top-navbar {
  position: absolute;
  top: 0;
  background-color: rgb(37, 83, 114);
  z-index: 1;
  width: 100%;
  height: 32px;
  padding: 0 1em;

  h1, h2, h3, h4, h5, h6 {
    color: white;
  }
}

.map {
  position: absolute;
  top: 32px;
  height: calc(100vh - 32px);
  width: 100vw;
}

.map-legend {
  position: absolute;
  bottom: 30px;
  left: 10px;
  z-index: 1;
  background: white;
  padding: 0.5em 1em;
  opacity: 0.9;
}
